.imager-edit-container .toolbar {
  position: absolute;
}

.imager-original {
  display: none;
  margin-top: 30px;
  margin-bottom: 100px;
}

.imager-original.custom-quality-visible {
  margin-bottom: 200px;
}

.image-container {
  min-width: 300px;
  margin-right: 30px;
  margin-top: 20px;
  text-align: left;
}

.imager-edit-container {
  position: relative;
  top: 15px !important;
  left: 0 !important;
}
